<!DOCTYPE html>

<html>

<body>
    <div class="main">
        {{>header}}
        <h1>About</h1>
        <p>This site was created using darksky.com and mapbox.com</p>
    </div>

    {{>footer}}
</body>

</html>