<!DOCTYPE html>

<html>

<head>
  <title>Weather</title>
  {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> --}}
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
  <header class="showcase">
    <div class="content">
      <div class="title">Weather Overhead</div>
      <div class="text">Quickly find the forecast for your area.</div>
      <form action="" method="POST">
        <input type="text" name="search" id="search" size="35" placeholder="Enter Your Location">
        <input class="btn btn-success" type="submit">
      </form>

      <h4 id="message-1"></h4>
      <p id="message-2"></p>
      {{!-- <nav>
        <a href="/">Weather</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
      </nav> --}}
    </div>
  </header>