body {
  /* background: rgba(0, 0, 0, 0.8); */
  margin: 0;
  /* color: white; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content a {
  color: white;
  padding: 5px 1rem;
  text-decoration: none;
}

.showcase::after {
  content: '';
  height: 100vh;
  width: 100%;
  background-image: url(../img/lightning.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  /* filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: all 1000ms; */
}

/* .showcase:hover::after {
  filter: blur(0px);
  -webkit-filter: blur(0px);
} */

.content {
  position: absolute;
  z-index: 2;
  top: 10%;
  left: 50%;
  margin-top: 105px;
  margin-left: -145px;
  width: 350px;
  height: 350px;
  text-align: center;
  transition: all 1000ms;
  color: white;
}

.content .logo {
  width: 180px;
  height: 180px;
}

.content .title {
  font-size: 3.4rem;
  margin-top: 1rem;
}

.content .text {
  line-height: 1.7;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

input[type='text'] {
  border: 2px solid #ccc;
  padding: 0.5rem;
}
input[type='submit'] {
  cursor: pointer;
  border: 1px solid #888;
  background: #888;
  color: #fff;
  padding: 0.5rem;
}

.main {
  color: #333333;
  font-family: arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
